body{
    background-color: #F6F1EC;
    z-index: 1 !important;
}

.menuHeader{
    width: 100px;
}

.logo{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.container-fluid{
    height: 100vh;
}

.titulo-header{
    font-size: 32px;
    color: #2D4777;
    font-weight: 900;
    padding-top: 20%;
}

.banner{
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
    filter: brightness(0.5);
    padding: 20px;
    position: absolute;
    left: 0;
    z-index: -1;
}

.titulo-header span{
    color: #F6F1EC;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    z-index: 3;
    top: 130%;
    left: 5%;
    text-align: left;
}